doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title NodeBots at scale

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        a(href="http://nearform.com" style="width: 20%")
          img(src="./images/nearform.svg")
        h1 NodeBots
          br
          | at Scale
        h3 by&nbsp;
          a(href="http://twitter.com/matteocollina") @matteocollina

      section
        h1 NodeBots
        .nodebot
          .icon
            .bobble
            .antenna
            .head
              div(class="eye left")
              div(class="eye right")
            .neck
            .neck
        .copyright Taken from the nodebots.io site

      section
        img(src="images/equation.png")
        .copyright Taken from the nodebots.io site

      section
        h3 JS robotics modules
        ul.bullet
          li
            a(href="http://npm.im/johnny-five") johnny-five
          li
            a(href="http://npm.im/node-serial-port") serial-port
          li ... and many more!

      section
        h3 Julian Cheal @ JSConf Budapest
        img(src='images/julian.jpg' style='width: 90%')

      section
        h2 Lots of soldering
        h3 ..and burns

        img(src='images/IMG_3180.jpg' style='height: 80%')

      section
        div(style='width: 90%; heigth: 90%;')
          video(autoplay loop style='width: 50%; display: block; float: right; position: relative;')
            source(src="images/IMG_3218.m4v" type="video/mp4")
          video(autoplay loop style='width: 50%; display: block; float: left; position: relative;')
            source(src="images/IMG_3199.m4v" type="video/mp4")

      section
        div(style='width: 90%;')
          img(src='images/MQTT.js.png' style='width: 50%; display: block;')
          img(src='images/johnny-five.png' style='width: 50%; display: block;')

      section
        h2 In the process..

        ul
          li We did a lot of testing..
          li ..and tasting
          li We fried 2 Raspberry Pi
          li We popped 4 transistors
          li ..and made one :)
          li We Wired 200+ wires
          li We soldered five boards
          li We live-deployed 10+ times while serving cocktails

      section
        h2 Open Source

        ul
          li workaholic-ui - https://github.com/thekemkid/workaholic-ui
          li robot - https://github.com/darragh-hayes/robot
          li cocktail-control - http://github.com/mcollina/cocktail-control

      section
        h2 The Team!
        ul
          li Darragh Hayes
          li Glen Keane
          li Marco Piraccini
          li Julian Cheal
          li Matteo Collina

      section.full-imgs
        img(src='images/me.png')
        h3
          a(href='http://github.com/mcollina') http://github.com/mcollina

      section
        h1 Thanks!
        a(href="http://nearform.com" style="width: 20%")
          img(src="./images/nearform.svg")
        br
        p If you need help with Node.js or the IoT
        br
        h3 <a href="mailto:matteo.collina@nearform.com">matteo.collina@nearform.com</a>
        h3 <a href="http://twitter.com/matteocollina">@matteocollina</a> on Twitter
        h3 <a href="http://www.nearform.com">www.nearform.com</a>


    script(src='build/build.js')
