doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cocktail Robots

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Cocktail Robots
        h3 How we did 134 cocktails yesterday night

      section
        h3 Julian Cheal @ JSConf Budapest
        img(src='images/julian.jpg' style='width: 90%')

      section
        h2 Lots of soldering
        h3 ..and burns

        img(src='images/IMG_3180.jpg' style='height: 80%')

      section
        div(style='width: 90%; heigth: 90%;')
          video(autoplay loop style='width: 50%; display: block; float: right; position: relative;')
            source(src="images/IMG_3218.m4v" type="video/mp4")
          video(autoplay loop style='width: 50%; display: block; float: left; position: relative;')
            source(src="images/IMG_3199.m4v" type="video/mp4")

      section
        div(style='width: 90%;')
          img(src='images/MQTT.js.png' style='width: 50%; display: block;')
          img(src='images/johnny-five.png' style='width: 50%; display: block;')

      section
        h2 In the process..

        ul
          li We did a lot of testing..
          li ..and tasting
          li We fried 2 Raspberry Pi
          li We popped 4 transistors
          li ..and made one :)
          li We Wired 200+ wires
          li We soldered five boards
          li We live-deployed 10+ times while serving cocktails

      section
        h2 Open Source

        ul
          li workaholic-ui - https://github.com/thekemkid/workaholic-ui
          li robot - https://github.com/darragh-hayes/robot
          li cocktail-control - http://github.com/mcollina/cocktail-control

      section
        h2 The Team!
        ul
          li Darragh Hayes
          li Glen Keane
          li Marco Piraccini
          li Julian Cheal
          li Matteo Collina

      section
        h1 Thanks!
        br
        h3 <a href="mailto:hello@matteocollina.com">hello@matteocollina.com</a>
        h3 <a href="http://twitter.com/matteocollina">@matteocollina</a> on Twitter
        h3 <a href="http://www.matteocollina.com">www.matteocollina.com</a>


    script(src='build/build.js')
